.features-product-section {
    padding: 80px 0;
}
.product-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    /* ---------- HEADER ---------- */
    .section-header {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

        .section-title {
            font-size: 46px;
            font-weight: 700;
            color: #1a1a1a;
            margin: 0 0 10px;
        }

        .section-desc {
            font-size: 16px;
            color: #606063;
        }
    }

    /* ---------- PRODUCT GRID ---------- */
    .product-wrapper {
        flex: 1 1 calc(25% - 20px);
        min-width: 250px;
    }
}

@media (min-width: 1440px) {
    .product-container {
        padding: 0 80px;

        .section-title {
            font-size: 52px;
        }
    }
}

@media (max-width: 1200px) {
    .product-container {
        padding: 0 50px;

        .product-wrapper {
            flex: 1 1 calc(33.33% - 20px); // 3 columns
        }

        .section-title {
            font-size: 42px;
        }
    }
}

@media (max-width: 992px) {
    .features-product-section {
        padding: 60px 0;
    }

    .product-container {
        padding: 0 40px;

        .product-wrapper {
            flex: 1 1 calc(50% - 20px); // 2 columns
        }
        .section-header {
            .section-title {
                font-size: 36px;
            }
        }
    }
}
@media (max-width: 768px) {
    .product-container {
        // padding: 0 30px;
        .section-header {
            .section-title {
                font-size: 34px;
            }
        }
    }
}

@media (max-width: 576px) {
    .features-product-section {
        padding: 50px 0;
    }

    .product-container {
        // padding: 0 20px;

        .product-wrapper {
            flex: 1 1 100%; // 1 column
        }
        .section-header {
            .section-title {
                font-size: 32px;
            }

            .section-desc {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 375px) {
        .product-container {
            // padding: 0 15px;
            .section-header {
                .section-title {
                    font-size: 28px;
                }
            }
        }
    }
}
