.product-card {
  width: 100%;
  max-width:100%;
  padding: 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.3s ease, transform 0.3s ease;
  position: relative;
  background-color: #fff;

  &:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      height: 273px;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  .product-info {
    text-align: left;
    padding: 10px 0;

    .brand-name {
      color: #606063;
      font-size: 12px;
    }

    .product-name {
      padding-top: 7px;
      color: #a1a1a1;
      font-size: 14px;
      font-weight: 700;
    }

    .stars {
      padding: 7px 0;
      display: flex;
      margin-right: 2px;
      font-size: 14px;
      color: #f5b50a;
    }

    .product-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: 15px;
        font-weight: 700;
        color: #088178;
      }

      .cart-button {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: #e8f6ea;
        color: #088178;
        border: 1px solid #cce7d0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #088178;
          color: #fff;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          transform: scale(1.1);
        }

        i {
          font-size: 14px;
        }
      }
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .product-card {
    max-width: 100%;
  }
}
