.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/hero4.png");
    background-size: cover;
    background-position: top 25% right;
    display: flex;
    align-items: center;
    background-color: #e3e6f3;

    .hero-container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 60px;

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .hero-subtitle {
                font-size: 24px;
                color: #222;
                margin: 0;
                padding-bottom: 15px;
                font-weight: 600;
            }

            .hero-title {
                font-size: 64px;
                line-height: 1.2;
                color: #222;
                margin: 0;
                margin-bottom: 10px;

                .hero-highlight {
                    color: #088178;
                }
            }

            .hero-description {
                font-size: 16px;
                color: #465b52;
                margin-bottom: 20px;
            }

            .hero-button {
                background-image: url("../../assets/button.png");
                background-color: transparent;
                color: #088178;
                border: 0;
                padding: 14px 80px 14px 65px;
                background-repeat: no-repeat;
                cursor: pointer;
                font-weight: 700;
                font-size: 15px;
                transition: 0.3s ease;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .hero-section {
        background-position: 80% center;

        .hero-container {
            padding: 0 40px;

            .hero-content {
                .hero-title {
                    font-size: 50px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .hero-section {
        background-position: 80% center;

        .hero-container {
            .hero-content {
                .hero-title {
                    font-size: 45px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 80vh;
        background-position: 70% center;

        .hero-container {
            padding: 0 30px;

            .hero-content {
                .hero-subtitle {
                    font-size: 20px;
                }

                .hero-title {
                    font-size: 38px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .hero-section {
        background-position: 65% center;

        .hero-container {
            .hero-content {
                .hero-title {
                    font-size: 32px;
                }

                .hero-description {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .hero-section {
        height: 80vh;
        background-position: 60% center;

        .hero-container {
            padding: 0 20px;

            .hero-content {
                .hero-subtitle {
                    font-size: 18px;
                }

                .hero-title {
                    font-size: 28px;
                }

                .hero-button {
                    padding: 10px 60px 10px 45px;
                }
            }
        }
    }
}
