/* Footer.scss */
.footer-section {
  padding: 40px 60px;
  background-color: #fff;
  border-top: 1px solid #e1e1e1;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    .logo {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 18px;
      color: #222;
      margin-bottom: 20px;
    }

    p {
      color: #222;
      font-size: 16px;
      margin: 0 0 8px 0;

      span {
        color: #088178;
      }
    }

    a {
      text-decoration: none;
      font-size: 16px;
      color: #222;
      margin-bottom: 10px;
      &:hover {
        color: #088178;
      }
    }

    .follow {
      .icon {
        display: flex;
        gap: 10px;

        a {
          font-size: 18px;
          color: #465b52;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color: #088178;
          }
        }
      }
    }

    &.install {
      .row {
        margin: 15px 0;
        img {
          border: 1px solid #088178;
          border-radius: 6px;
          margin-right: 10px;
        }

        img:last-child {
          margin-top: 10px;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    p {
      font-size: 16px;
      color: #465b52;
    }
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-section {
    padding: 30px 40px;
    .container .col {
      width: 50%;
    }
  }
}
@media (max-width: 768px) {
  .footer-section {
    padding: 20px 30px;
    .container {
      padding: 0 20px;
    }
  }
}

@media (max-width: 576px) {
  .footer-section {
    padding: 20px 0;
    .container .col {
      width: 100%;
    }
  }
}
