/* ShopBanner.scss */

#shop-banner {
  background: url('../../assets/banner/b1.jpg') center/cover no-repeat; // agar rasm qo‘shmoqchi bo‘lsangiz
  padding: 80px 0;
  text-align: center;
  color: #fff;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    padding: 50px 0;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
